<div class="main">
  <div class="header">
    <h1>The Business</h1>
  </div>
  <form [formGroup]="businessDetails" (ngSubmit)="onSubmit()">
    <div>
        <h2>Product</h2>
      
        <textarea name="" id="" cols="100" rows="8" formControlName="product"></textarea>
      </div>
      <div>
        <h2>Problem Solved</h2>
        <textarea formControlName="problemSolved" name="" id="" cols="100" rows="8"></textarea>
      </div>
      <div>
        <h2>Business Model</h2>
        <textarea formControlName="businessMOdel" name="" id="" cols="100" rows="8"></textarea>
      </div>
      <div>
        <h2>Why are we raising</h2>
        <textarea formControlName="raising" name="" id="" cols="100" rows="8"></textarea>
      </div>
      <div class="button-div">
          <button type="submit">continue</button>
      </div>
  </form>
  
  
</div>
