<div class="main">
    <div class="parent">

        <div class="chatbox">
            <div class="inner-chat">

                <div class="header">
                    <div>
                        <h1>Name Here</h1>
                        <h4>online</h4>
                    </div>
                    <div>
                        logo here
                    </div>
                </div>

                <div class="chat-body">
                    <div class="message">
                        <h3>Hello There My son</h3>
                    </div>
                </div>

            </div>
            
            </div>
        <div class="div2">
            <div class="search-bar">
                search here
            </div>
            <div class="chat-list">
                chats here
            </div>

        </div>
        
        </div>
</div>