<div class="top-details">
  <img src="/assets/top_details.svg" alt="" srcset="" />
</div>

<div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Business</ng-template>
      <div class="data">
        <div class="topic">
          <h1>The Product</h1>

          <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam
            omnis veritatis eos assumenda sint. Nam quod quas, pariatur placeat
            expedita blanditiis asperiores similique repudiandae quidem?
            Deleniti dolores sint qui rerum?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Suscipit alias minima, consectetur
            harum voluptas autem deleniti distinctio molestiae, voluptates
            dolores ipsum et soluta laborum totam quos possimus excepturi!
            Consequatur, fuga!
          </div>
          <br />
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis ipsa porro unde alias.
          </ul>
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis ipsa porro unde alias.
          </ul>
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis ipsa porro unde alias.
          </ul>
        </div>

        <div class="topic">
          <h1>The problem Solved</h1>

          <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam
            omnis veritatis eos assumenda sint. Nam quod quas, pariatur placeat
            expedita blanditiis asperiores similique repudiandae quidem?
            Deleniti dolores sint qui rerum?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Suscipit alias minima, consectetur
            harum voluptas autem deleniti distinctio molestiae, voluptates
            dolores ipsum et soluta laborum totam quos possimus excepturi!
            Consequatur, fuga!
          </div>
        </div>

        <div class="topic">
          <h1>Business Model</h1>

          <div>
            Revenue model is driven by strategic collaboration between our 3
            core products:+ Trustd app: our free app that grows brand awareness
            and provides a wide lens of threat intelligence to power our
            revenue-generating solutions;+ Trustd MTD: our b2b
            revenue-generating mobile threat defence solution, sold through
            channel partners;+ Trustd Plus: our b2c revenue-generating premium
            app subscription.
          </div>
        </div>

        <div class="topic">
          <h1>Exit Strategy</h1>

          <div>
            Similar to recent MTD acquisitions (e.g. Jamf's acquisition of
            Wandera for $400m), our exit strategy is a 4 year trade sale with a
            plan to merge with or be acquired by a Unified Endpoint Management
            (UEM), Unified Security Management (USM) or Extended Detection &
            Response (XDR) solution provider
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Market</ng-template>
      <div class="data">
        <div>
          <div class="topic">
            <h1>Market Research</h1>
            The rise in mobile-targeted threats, like phishing and malware, is
            leading an increasing number of businesses to adopt MTD solutions.
            As a result, the MTD market has experienced bullish growth to $350m
            in 2020, at a 32.3% CAGR between 2018 and 2020. Gartner predict that
            by 2025, 50% of organisations will have mobile security solutions in
            place. Whilst adoption of MTD solutions is growing, existing
            solutions are overly complex, deliver ineffective security and
            invade employee privacy - particularly when it comes to BYOD.
          </div>

          <div class="topic">
            <h1>Key competitors & Our advantages</h1>
            Key competitors: Lookout, Sophos, Corratta & Microsoft.
            <br />
            We are more attractive to customers as we offer the same standard of
            service for 1/10 of our competitors prices.
          </div>
        </div>

        <div class="topic">
          <h1>Why we are raising</h1>
          This investment will enable us to execute upon our Go To Market
          strategy, evolve our MTD technology, increase our marketing spend to
          scale customer acquisition and revenue.
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Team</ng-template>

      <div class="team-div">
        <div class="member">
          <img class="avatar" src="/assets/john.png" />
          <div class="intro">
            <h1>Meet Mike,</h1>
            <div>
              Lorem ipsum dolor sit amet consectetur adipiscing elit massa
              consectetur in molestie augue sed sed augue nibh et quis nibh
              faucibus sem non cursus lectus nibh volutpat aliquam sed est nibh
              adipiscing hendrerit rhoncus, sed dolor tortor pellentesque quis
              molestie volutpat volutpat euismod sit non sit sed.
            </div>
            <div class="socials">
              <img src="/assets/socials.svg" alt="">
            </div>
          </div>
        </div>

        <!-- <mat-card>
          <mat-card-content class="idea">
            <img class="avatar" src="/assets/john.png" height="100px" />
            <mat-card-subtitle>CEO</mat-card-subtitle>
            <h2>John Doe</h2>

            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, odit expedita ipsa doloribus quod, eius aspernatur
            labore libero dolorum aliquid necessitatibus ea tenetur voluptatibus
            tempore totam numquam fuga, fugit inventore! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Error assumenda dolore optio.
            Odio, repudiandae eum quidem cumque nulla ipsa amet impedit quasi ab
            eaque? Recusandae, est. Asperiores, omnis eius! Nostrum? Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Itaque cum, similique
            cumque vitae possimus eos beatae voluptatem voluptates rem debitis
            quisquam maiores porro necessitatibus sit obcaecati adipisci?
            Consequuntur, laboriosam voluptate!
          </mat-card-content>
        </mat-card> -->

        <!-- <mat-card>
          <mat-card-content class="idea">
            <img class="avatar" src="/assets/john.png" height="100px" />
            <mat-card-subtitle>Senior Developer</mat-card-subtitle>
            <h2>Michael Steele</h2>

            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, odit expedita ipsa doloribus quod, eius aspernatur
            labore libero dolorum aliquid necessitatibus ea tenetur voluptatibus
            tempore totam numquam fuga, fugit inventore!
          </mat-card-content>
        </mat-card> -->
      </div>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Documents</ng-template>
      <div class="topic">
        <div class="document">
          <h1>Business Plan</h1>
          <button>Download</button>
        </div>
        <div class="document">
          <h2>Financial Forecast</h2>
          <button>Download</button>
        </div>
        <div class="document">
          <h2>Investment terms & conditions</h2>
          <button>Download</button>
        </div>
        <div class="document">
          <h2>Due diligence statement</h2>
          <button>Download</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Appointments</ng-template>
      <img class="appointments" src="/assets/appointments.svg" srcset="" />
    </mat-step>
  </mat-stepper>
</div>
