.top-details
    margin: auto
    display: flex
    justify-content: center
    
mat-stepper
    background-color: transparent
    color: white
    margin: 5%
    
    ::ng-deep .mat-step-header 
        padding: 0px
        &:hover
            text-decoration: underline
            text-decoration-color: black
            background-color: transparent
            // text-decoration-thickness: 4px

    ::ng-deep .mat-step-header div
        color: white
        font-size: 20px

    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon
        display: none !important

    ::ng-deep .mat-horizontal-stepper-header-container
        margin-bottom: 60px

    .data
        padding: 1%
        background: rgba(255, 255, 255, 0.066)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(6.5px)
        -webkit-backdrop-filter: blur(6.5px)
        border: 1px solid rgba(255, 255, 255, 0)
        height: 600px
        overflow-y: scroll


.team-div
    background-color: red
    padding: 5%
    border-radius: 40px
    background: rgba( 255, 255, 255, 0.7 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 16.5px )
    -webkit-backdrop-filter: blur( 16.5px )
    margin: auto
    
    .member
        display: flex
        
        .intro
            padding: 5%
            color: black
            display: flex
            flex-direction: column
            justify-content: space-between

            h1
                font-size: 250%
            

    

    

.topic
    padding: 2% 2%

.document
    padding: 1%
    display: flex
    justify-content: space-between

    button
        background: rgba(255, 255, 255, 0.595)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164)
        backdrop-filter: blur(6.5px)
        -webkit-backdrop-filter: blur(6.5px)
        border: 1px solid rgba(255, 255, 255, 0)

::-webkit-scrollbar 
  display: none
  
.appointments
    margin: auto
