<div class="main">
  <div class="header">
    <h1>Questionnaire</h1>
  </div>
  <div class="content">
    <ul>
        1 . Does the business have a minimum viable product (MVP) or prototype?
      <mat-select  placeholder="">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </ul>
    <ul>
      2 . Does the business have a clear revenue model and how it will make
      money?
      <mat-select  placeholder="">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </ul>
    <ul>
      3 . Does the business have a clear understanding of its competition and
      how it differentiates itself?
      <mat-select  placeholder="">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </ul>
    <ul>
      4 . Has the business created a financial model and projected its revenue
      and expenses?
      <mat-select  placeholder="">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </ul>
    <ul>
      5 . Does the business have a clear understanding of its growth plans and
      how it plans to scale?
      <mat-select  placeholder="">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </ul>
  </div>
  <div class="footer">
    <button mat-button >
        continue
    </button>
  </div>
</div>
