<section>
  <div class="account-info">
    <div class="account-info-heading">
      <h1>Account Information</h1>
    </div>

    <div class="form-account-info">
      <form action="">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" />
        <label for="second-name">Second Name</label>
        <input type="text" name="second-name" id="second-name" />
        <label for="dropdown">Location</label>
        <select id="dropdown" name="dropdown">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
      </form>
    </div>

    <div class="account-info-save-button">
      <button>Save</button>
    </div>
  </div>
</section>
