<div class="signup">
    <div class="welcome">
        <img src="/assets/PitchIT logo.png" height="100">
      </div>
    <h1>
        Welcome to PitchIT
    </h1>
    <div class="main">
        <mat-card routerLink="">
            <mat-card-header routerLink="/register/business">
                <mat-card-title>founder</mat-card-title>
                <!-- <mat-card-subtitle>Click Here to sign up as an investor</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        
        <mat-card >
            <mat-card-header routerLink="/register/investor">
                <mat-card-title>investor</mat-card-title>
                <!-- <mat-card-subtitle>Click Here to sign up as a Business</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>
    

    <a routerLink="/login">Or click here to login</a>
    

    
</div>