<!-- <mat-toolbar class="top-nav" *ngIf="!auth.isAuthenticated()">
  <button mat-icon-button>
    <span routerLink="questionaire">Manage</span>
  </button>
  <button mat-icon-button>
    <span>About Us</span>
  </button>
  <button mat-icon-button>
    <img matCardAvatar src="/assets/PitchIT logo.png" />
  </button>
  <button mat-icon-button>
    <span>Services</span>
  </button>
  <button mat-icon-button>
    <span>Membership</span>
  </button>
</mat-toolbar> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="column">
      <button mat-icon-button>
        <img
          src="/assets/PitchIT logo.png"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>
      <button mat-icon-button>
        <img
          src="/assets/dashboard_logo.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>

      <button mat-icon-button>
        <img
          src="/assets/tools.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>

      <button mat-icon-button>
        <img
          src="/assets/search.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>

      <button mat-icon-button>
        <img
          src="/assets/heart.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>

      <button mat-icon-button>
        <img
          src="/assets/accessibility.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>

      <button mat-icon-button>
        <img
          src="/assets/settings.svg"
          alt=""
          width="46.47"
          height="28.13"
        />
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
