
<div class="main">
    <div class="header">
        <h1>Questionnaire</h1>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="left-div">
            <div>
                <h2>Company Name</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
    
            <div>
                <h2>Company Registration number</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
    
            <div>
                <h2>Website</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
            <div>
                <h2>Instagram</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
            <div>
                <h2>Twitter</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
            <div>
                <h2>Business growth stage</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
        </div>
        <div class="right-div">
            <div>
                <h2>Country</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
    
            <div>
                <h2>Registered company name</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
    
            <div>
                <h2>Facebook</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
            <div>
                <h2>Linkedin</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>
            <div>
                <h2>Sector</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Type here</mat-label>
                    <input matInput formControlName="password"/>
                  </mat-form-field>
            </div>

            <button mat-button>
                continue
            </button>
        </div>
        
    </form>
</div>