<div class="pitch-deck">
  <div class="user-dashboard">
    <img src="/assets/left_dash.svg" alt="">
  </div>

  <div class="pitches">
    <img class="pitch" routerLink="/details" src="/assets/dashboard_card.svg">
    <!-- <mat-card>
      <mat-card-header>
        <img matCardAvatar src="/assets/unilever.svg" />
        <mat-card-title>John Doe (Profile Href)</mat-card-title>
        <mat-card-subtitle>CEO </mat-card-subtitle>
      </mat-card-header>
      <h2 class="company-name">
        Unilever <br />
        Target - $115,000
      </h2>
      <img matCardImage src="/assets/unilever.svg" width="65" height="140" />

      <mat-card-content class="idea">
        <h2 class="company-name">The Idea</h2>
        PitchIT is an innovative social media platform that will transform the
        way investors and businesses connect - Check out our pitch to see why we
        will be the NO.1 investment platform of 2023!
      </mat-card-content>
      <mat-card-footer>
        <button class="footer-button" mat-stroked-button routerLink="/details">Details</button>
      </mat-card-footer>
    </mat-card> -->
  </div>
  <div class="news">
    <img src="/assets/news.svg" alt="" >
  </div>
  <!-- <div class="news">
    <div class="header">
      <h1>PitchIT Weekly</h1>
      <img src="/assets/test.png" width="280" height="200" alt="Not Found" />
    </div>

    <div class="news-description">
      <a href="https://google.com"> Swytch is the new market of 2023! </a>
    </div>
  </div> -->
</div>
<div class="bottom-nav">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    style="flex-grow: 0.5"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button>
    <img matCardAvatar src="/assets/john.png"/>
  </button>
</div>
