<div class="pitch-deck">
  <div class="user-dashboard">
    <mat-grid-list gutterSize="-10px" cols="2" rowHeight="3:1" class="top-dash">
      <mat-grid-tile colspan="2">
        <div class="search">
          <mat-icon>search</mat-icon>
          Search
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <div class="saved">
          <mat-icon>filter_list</mat-icon>
          Filter
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <div class="saved">
          <mat-icon>bookmark</mat-icon>
          Saved
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="8">
        <mat-card class="inbox">
          <mat-card-header>
            <mat-card-title>Inbox</mat-card-title>
          </mat-card-header>
          <mat-card>
            <mat-card-header>
              <img matCardAvatar src="/assets/john.png" />
              <mat-card-title>John Doe</mat-card-title>
              <mat-card-subtitle>Hey! Lets arrange a call!</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <img matCardAvatar src="/assets/indian.jpeg" />
              <mat-card-title>Rajesh Acharya</mat-card-title>
              <mat-card-subtitle>Hey! Lets arrange a call!</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <img matCardAvatar src="/assets/female.jpeg" />
              <mat-card-title>Johanne Togg</mat-card-title>
              <mat-card-subtitle>Hey! Lets arrange a call!</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <img matCardAvatar src="/assets/black_male.jpeg" />
              <mat-card-title>Callum Long</mat-card-title>
              <mat-card-subtitle>Hey! Lets arrange a call!</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="pitches">
    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="/assets/unilever.svg" />
        <mat-card-title>John Doe (Profile Href)</mat-card-title>
        <mat-card-subtitle>CEO </mat-card-subtitle>
      </mat-card-header>
      <h2 class="company-name">
        Unilever <br />
        Target - $115,000
      </h2>
      <img matCardImage src="/assets/unilever.svg" width="65" height="140" />

      <mat-card-content class="idea">
        <h2 class="company-name">The Idea</h2>
        PitchIT is an innovative social media platform that will transform the
        way investors and businesses connect - Check out our pitch to see why we
        will be the NO.1 investment platform of 2023!
      </mat-card-content>
      <mat-card-footer>
        <button class="footer-button" mat-stroked-button routerLink="/details">Details</button>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="news">
    <div class="header">
      <h1>PitchIT Weekly</h1>
      <img src="/assets/test.png" width="280" height="200" alt="Not Found" />
    </div>

    <div class="news-description">
      <a href="https://google.com"> Swytch is the new market of 2023! </a>
    </div>
  </div>
</div>
<div class="bottom-nav">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    style="flex-grow: 0.5"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button>
    <img matCardAvatar src="/assets/john.png"/>
  </button>
</div>
