$primary-color: #6F4FF2

section
  color: white
  padding: 20px
  .update-container
    background-image: url("/assets/background-2.png")
    background-size: cover
    background-position: center
    border-radius: 21px
    display: flex
    flex-direction: column
    align-items: start
    justify-content: center
    margin: 20px
    padding: 20px
    .button-container
      width: 100%
      display: flex
      flex-direction: row
      align-items: end
      justify-content: end
      button
        color: white
        padding: 5px
        background: $primary-color
        border: solid 1px $primary-color
        border-radius: 5px
  .pitches-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 0px 30px
    .pitch
      width: 250px
      height: min-content
