<div class="dash-top">
  <img src="/assets/dash-top.svg" alt="">
</div>
<div class="pitch-deck">
  <!-- <div class="user-dashboard">
    <img src="/assets/left_dash.svg" alt="">
  </div> -->

  <div class="pitches">
    <img class="pitch" routerLink="/details" src="/assets/dashboard_card.svg">
    
    <img class="pitch" routerLink="/details" src="/assets/dashboard-card2.svg">

    <img class="pitch" routerLink="/details" src="/assets/dashboard_card.svg">
    
    <img class="pitch" routerLink="/details" src="/assets/dashboard-card2.svg">

  </div>


</div>
