<div class="main">
    <div class="header">
        <div class="header-component"></div>
        <div class="header-component">
            <h1>Choose your plan</h1>
        </div>
        <div class="header-component"></div>
    </div>

    <div class="membership-cards-container">
        <app-membership-card
                [price]="24.99"
                [package]="'Early Bird'"
                [perks]="[
        'Access to smart matching algorithm',
        'Access to PitchIT weekly',
        'Access to secure messaging',
        'Option to enquire about due diligence and portfolio management tools'
      ]"></app-membership-card>
    </div>

</div>
  