<div class="main">
    <div class="header">
        <div class="header-component"></div>
        <div class="header-component">
            <h1>
                Investor plan
            </h1>
        </div>
        <div class="header-component">

        </div>
    </div>

    <form action="" (submit)="onSubmit()">
        <div class="memberships">
            
    
            
    
            <div class="plan">
                <div class="m-header">
                    <h1>Investor</h1>
                    <h1 class="pricing">£24.99/month</h1>
                </div>
                <div class="content">
                    <ul>Access to smart matching algorithm</ul>
                    <ul>Access to PitchIT weekly</ul>
                    <ul>Access to secure messaging & video call services</ul>
                    <ul>Invest on the go using the app</ul>
                    <ul>Pitch deck & Financial model builds</ul>
                    <ul>Option to enquire about due diligence and portfolio management tools</ul>
                </div>
                <div class="button-div">
                    <button type="submit" routerLink="/payment">Select</button>
                </div>
                
            </div>
    
            
        </div>
    </form>

    
</div>