<div class="main">
    <div class="header">
        <div class="header-component"></div>
        <div class="header-component">
            <h1>
                Choose your plan
            </h1>
        </div>
        <div class="header-component">

        </div>
    </div>

    <form action="" (submit)="onSubmit()">
        <div class="memberships">
            <div class="plan">
                <div class="m-header">
                    <h1>Starter</h1>
                    <h1 class="pricing">£19.99/month</h1>
                </div>
                <div class="content">
                    <ul>Full access to the platform</ul>
                    <ul>Access to the matchmaking algorithm for connecting with investors</ul>
                    <ul>NDA covered chats & video calls with investors</ul>
                    <ul>Access to PitchIT weekly</ul>
                    <ul>24/7 chat support</ul>
                </div>
                <div class="button-div">
                    <button type="submit" routerLink="/payment">Select</button>
                </div>
                
            </div>
    
            <div class="plan">
                <div class="m-header">
                    <h1>Advanced</h1>
                    <h1 class="pricing">£99.99/month</h1>
                </div>
                <div class="content">
                    <ul>All of the starter plan +</ul>
                    <ul>1 group pitching masterclass</ul>
                    <ul>Recommended to relevant investors by email weekly</ul>
                    <ul>1 free ad on PitchIT weekly per month</ul>
                    <ul>Dedicated account manager to improve all areas of your account including profile, pitch & PitchIT ad</ul>
                    <ul>Pitch deck review and feedback</ul>
                </div>
                <div class="button-div">
                    <button type="submit" routerLink="/payment">Select</button>
                </div>
                
            </div>
    
            <div class="plan">
                <div class="m-header">
                    <h1>Platinum</h1>
                    <h1 class="pricing">£299.99/month</h1>
                </div>
                <div class="content">
                    <ul>All of the advanced plan +</ul>
                    <ul>Dedicated business advisor for a call every week</ul>
                    <ul>Unlimited ads in PitchIT weekly </ul>
                    <ul>Access to all masterclasses </ul>
                    <ul>Pitch deck & Financial model builds</ul>
                    <ul>1-1 investor ready day</ul>
                    <ul>Personal outreach to investors regarding your company</ul>
                    <ul>Company valuation </ul>
                </div>
                <div class="button-div">
                    <button type="submit" routerLink="/payment">Select</button>
                </div>
            </div>
    
            
        </div>
    </form>

    
</div>