<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mainDiv">
        <div class="welcome">
            <img src="/assets/PitchIT logo.png" height="100">
            <h2>PitchIT</h2>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" />
        </mat-form-field>
          <br />
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
            <a routerLink="/questionaire">Or click here to register</a>

            <div class="welcome">
                <button mat-raised-button>Continue</button>
            </div>
    </div>

</form>


<!-- <div class="welcome">
    Welcome Rhys McDonald
</div>


Add Transition from blue to white (Background Color) <br><br>
Text color from white to black (Text color) -->
