<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
    <div class="mainDiv">
        <div class="welcome">
            <img src="/assets/PitchIT logo.png" height="100">
            <h2>PitchIT</h2>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input matInput formControlName="username" type="text" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <br />
        <a routerLink="/questionaire">Or click here to register!</a>
        <br />
        <div class="question">
            <button mat-raised-button>Continue</button>
        </div>
    </div>
</form>