<section>
  <div class="security-setting">
    <div class="security-heading">
      <h1>Privacy & Security</h1>
    </div>

    <div class="security-info">
      <div class="info-row">
        <span class="label">Password</span>
        <span class="value">****</span>
        <button class="change-button">Change</button>
      </div>
      <div class="info-row">
        <span class="label">Email-Address</span>
        <span class="value">PitchIT@PitchIT.com</span>
        <button class="change-button">Change</button>
      </div>
      <div class="info-row">
        <span class="label">Phone number</span>
        <span class="value">0789867890</span>
        <button class="change-button">Change</button>
      </div>
    </div>
  </div>
</section>
