img
    height: 100%
    width: 100%
.top-nav
    display: flex
    justify-content: space-between
    padding: 2%
    background-color: #1D1932
    .middle
        width: 53%
        display: flex
        justify-content: space-around

    
    .end
        display: flex
        justify-content: center


    img
        height: 65px
        width: 81.63px
a
    margin: auto
    color: white
    text-decoration: none
        
