<div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Business</ng-template>
      <div class="data">
        <div>
          <h1>The Product</h1>
  
          <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam omnis
            veritatis eos assumenda sint. Nam quod quas, pariatur placeat expedita
            blanditiis asperiores similique repudiandae quidem? Deleniti dolores
            sint qui rerum?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Suscipit alias minima, consectetur harum voluptas autem deleniti
            distinctio molestiae, voluptates dolores ipsum et soluta laborum totam
            quos possimus excepturi! Consequatur, fuga!
          </div>
          <br />
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
            ipsa porro unde alias.
          </ul>
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
            ipsa porro unde alias.
          </ul>
          <ul>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
            ipsa porro unde alias.
          </ul>
        </div>
  
        <div>
          <h1>The problem Solved</h1>
  
          <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam omnis
            veritatis eos assumenda sint. Nam quod quas, pariatur placeat expedita
            blanditiis asperiores similique repudiandae quidem? Deleniti dolores
            sint qui rerum?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Suscipit alias minima, consectetur harum voluptas autem deleniti
            distinctio molestiae, voluptates dolores ipsum et soluta laborum totam
            quos possimus excepturi! Consequatur, fuga!
          </div>
        </div>
  
        <div>
          <h1>Business Model</h1>
  
          <div>
            Revenue model is driven by strategic collaboration between our 3 core
            products:+ Trustd app: our free app that grows brand awareness and
            provides a wide lens of threat intelligence to power our
            revenue-generating solutions;+ Trustd MTD: our b2b revenue-generating
            mobile threat defence solution, sold through channel partners;+ Trustd
            Plus: our b2c revenue-generating premium app subscription.
          </div>
        </div>
  
        <div>
          <h1>Exit Strategy</h1>
  
          <div>
            Similar to recent MTD acquisitions (e.g. Jamf's acquisition of Wandera
            for $400m), our exit strategy is a 4 year trade sale with a plan to
            merge with or be acquired by a Unified Endpoint Management (UEM),
            Unified Security Management (USM) or Extended Detection & Response
            (XDR) solution provider
          </div>
        </div>
      </div>
      
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Market</ng-template>
      <div class="data">
        <div>
          <h1>Market Research</h1>
  
          <div>
            The rise in mobile-targeted threats, like phishing and malware, is
            leading an increasing number of businesses to adopt MTD solutions. As
            a result, the MTD market has experienced bullish growth to $350m in
            2020, at a 32.3% CAGR between 2018 and 2020. Gartner predict that by
            2025, 50% of organisations will have mobile security solutions in
            place. Whilst adoption of MTD solutions is growing, existing solutions
            are overly complex, deliver ineffective security and invade employee
            privacy - particularly when it comes to BYOD.
          </div>
  
          <h1>Key competitors & Our advantages</h1>
  
          <div>
              Key competitors: Lookout, Sophos, Corratta & Microsoft.
              <br>
              We are more attractive to customers as we offer the same standard of service for 1/10 of our competitors prices.
          </div>
        </div>
  
        <h1>Why we are raising</h1>
        <div>
          This investment will enable us to execute upon our Go To Market strategy, evolve our MTD technology, increase our marketing spend to scale customer acquisition and revenue.
        </div>
      </div>
      
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Team</ng-template>
      <div>
        
      </div>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>The Documents</ng-template>
      <div>
        <h1>The Product</h1>

        <div>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam omnis
          veritatis eos assumenda sint. Nam quod quas, pariatur placeat expedita
          blanditiis asperiores similique repudiandae quidem? Deleniti dolores
          sint qui rerum?Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Suscipit alias minima, consectetur harum voluptas autem deleniti
          distinctio molestiae, voluptates dolores ipsum et soluta laborum totam
          quos possimus excepturi! Consequatur, fuga!
        </div>
        <br />
        <ul>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          ipsa porro unde alias.
        </ul>
        <ul>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          ipsa porro unde alias.
        </ul>
        <ul>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          ipsa porro unde alias.
        </ul>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Appointments</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
