mat-stepper
    background-color: transparent
    color: white

    
    ::ng-deep .mat-step-header 
        padding: 0px
        &:hover
            text-decoration: underline
            text-decoration-color: black
            background-color: transparent
            // text-decoration-thickness: 4px

    ::ng-deep .mat-step-header div
        color: white
        font-size: 20px

    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon
        display: none !important