mat-stepper
    background-color: transparent
    color: white

    
    ::ng-deep .mat-step-header 
        padding: 0px
        &:hover
            text-decoration: underline
            text-decoration-color: black
            background-color: transparent
            // text-decoration-thickness: 4px

    ::ng-deep .mat-step-header div
        color: white
        font-size: 20px

    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon
        display: none !important

    .data
        padding: 1%
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.23)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(6.5px)
        -webkit-backdrop-filter: blur(6.5px)
        border: 1px solid rgba(255, 255, 255, 0)
        