<div class="main">
  <div class="header">
    <h1>The Team</h1>
  </div>
  <form [formGroup]="teamForm">
    <mat-card class="member-card">
      <mat-card-header>
        <img matCardAvatar src="Avatar source" />
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> Text content </mat-card-content>
    </mat-card>

    <mat-card class="member-card">
      <mat-card-header>
        <img matCardAvatar src="Avatar source" />
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> Text content </mat-card-content>
    </mat-card>
    <mat-card class="member-card">
      <mat-card-header>
        <img matCardAvatar src="Avatar source" />
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> Text content </mat-card-content>
    </mat-card>
  </form>
</div>
