<section>
  <div class="card-container">
    <div class="image-container">
        <img src="/assets/john.png">
    </div>
    <div class="form-container">
          <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
              <input formControlName="title" type="text" id="title" placeholder="Title">
              <textarea formControlName="memberAbout" name="about" id="member-about" cols="20" rows="10" placeholder="About Member"></textarea>
              <button type="submit">Continue</button>
          </form>
    </div>
  </div>

  
</section>