<div class="top-nav">
  <div class="logo">
    <img src="/assets/PitchIT logo.png" alt="" />
  </div>
  <div class="end">
    <button routerLink="/questionaire" >Login</button>
  </div>
</div>


  <img class="landing-p1" src="/assets/landing-p1.svg" alt="" >
  <img class="landing-cards" src="/assets/landing-cards.svg" alt="" >



<div class="buttons">
  <button class="login-button" routerLink="/questionaire">Enter Now</button>
</div>

<div class="footer">
    <img class="landing-footer" src="/assets/landing-footer.svg" alt="" >
</div>