<div class="top-nav">
  <div>
    <img src="/assets/PitchIT logo.png" alt="" />
  </div>
  <div class="middle">
    <a href="http://">HOW IT WORKS</a>
    <a href="http://">COMMUNITY</a>
    <a href="http://">PRICES</a>
  </div>
  <div class="end">
    <a routerLink="/login">Login</a>
  </div>
</div>


  <img class="landing-p1" src="/assets/landing-p1.svg" alt="" >
  <img class="landing-cards" src="/assets/landing-cards.svg" alt="" >



<div class="buttons">
  <button class="login-button" routerLink="/questionaire">Enter Now</button>
  <button>Discord</button>
</div>

<div class="footer">
    <img class="landing-footer" src="/assets/landing-footer.svg" alt="" >
</div>