<main>
  <div class="price-info">
    <div id="package-name">
      <span>{{ package }}</span>
    </div>
    <div id="price">
      <span>${{ price }}/month</span>
    </div>
  </div>

  <div class="perks-container">
    <ul class="perks">
      <li *ngFor="let perk of perks">
        <div class="perk">
          <div class="perk-txt">{{ perk }}</div>
          <div class="perk-tick">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z"
              />
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="button-container">
    <button routerLink="/payment">Select</button>
  </div>
</main>
