*
  background-color: transparent
.menu
    margin-right: 20px

.nav-icon
  height: 50px
  width: 100%
mat-toolbar
  justify-content: space-evenly
router-outlet
  height: 100%
.news
  right: 0
  position: fixed
  background-color: red
  height: 100%
  width: 25%

mat-drawer-container
  height: 100vh

mat-drawer
  background-color: #1D1932
  width: 89px

  .column
    margin: 0px 20px
    height: 75%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-top: 10%
    

    button
      padding-bottom: 25%


.top-nav
  background-color: transparent
  
  color: white
  position: sticky
  top: 0
  padding: 3%
  z-index: 1000


.nav-search-bar
  padding: 2%
  display: flex
  justify-content: space-between
  // background-color: red
  
  div
    width: 20%
    display: flex
    align-items: center
    // background-color: red
    justify-content: space-around
    
    // img
    //   margin-left: auto

    button
      img
        border-radius: 40%


.mat-drawer-content
    overflow-x: hidden

.drawer
  transition: all 1s
  width: 20%
  background-color: rgb(19, 31, 161)
  &:hover
    width: 25%


body
  margin: 0px