.image
    position: absolute
    left: 40%
    width: 20%
    height: 20%
.signup
    display: flex
    justify-content: center
    flex-direction: column
    width: 100%
    height: 100%

    h1
        color: white
        margin: 0px auto

    mat-card
        // padding: 0
        width: 40vh
        margin: 20px auto
        background-color: white
        border-radius: 30px
        transition: border-radius 2s,color 0.5s,padding 0.5s,font-size 0.5s
        

        &:hover
            // background-color: rgb(19, 31, 161)
            color: white
            padding: 40px
            border-radius: 90px
            background-image: url('/assets/card_back.png')
            // background-size: 100%
            background-repeat: no-repeat
            mat-card-subtitle
                color: white
                font-size: 17px