<div class="signup">
    <div class="welcome">
        <img src="/assets/PitchIT logo.png" height="100">
        <h2>
          PitchIT
        </h2>
      </div>
    <h1>
        Register As:
    </h1>
    <mat-card (click)="clickInvestor()">
        <mat-card-header>
            <mat-card-title>Investor</mat-card-title>
            <!-- <mat-card-subtitle>Click Here to sign up as an investor</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
    
    <mat-card (click)="clickBusiness()">
        <mat-card-header>
            <mat-card-title>Business</mat-card-title>
            <!-- <mat-card-subtitle>Click Here to sign up as a Business</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>

    <a routerLink="/login">Or click here to login</a>
    

    
</div>